<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Queue_Interview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Queue_Interview.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body class="h-100" style="background-color: #F1E902;">

    <style>
        .blink-red {
            animation: blink 1s infinite;
        }

        @@keyframes blink {
            0% {
                color: black;
            }

            50% {
                color: red;
            }

            100% {
                color: black;
            }
        }


        @@keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-30px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .logo {
            animation: float 3s ease-in-out infinite;
        }

        @@keyframes blinks {
            0% {
                opacity: 1;
                color: #DD3333; 
            }

            50% {
                opacity: .3;
                color: #DD3333; 
            }

            100% {
                opacity: 1;
                color: #DD3333;
            }
        }

        .nw {
            animation: blinks 1s ease-in-out infinite;
        }



    </style>

    <div class="container-fluid p-0" style="height:100%;">
        @RenderBody()
    </div>


    <div class="position-absolute img-fluid" style="bottom: 50px; right: 10px;">
        <img src="~/src/logo-prince.png" class="logo" style="width: 130px;height: 130px;object-fit: cover;" alt="Queue_Interview" />
    </div>
    <footer class="footer text-muted flex-shrink-1" style="background-color: #DD3333; line-height: 40px;">
        <div class="container-fluid d-flex align-items-center text-center text-white w-100 p-0">
            <marquee direction="left" class="w-100">
                <div class="d-flex align-items-center justify-content-around">
                    <div>
                        ©2024 Copyright Prince Retail Group of Companies. All Rights Reserved.
                        Prince retail Sabay sa Buhay! for more inquiries call <i class="fas fa-phone px-5"> (032) 254-54565</i>
                    </div>
                    <div>
                        <i class="fab fa-facebook"></i> princeretailcareers
                    </div>
                    <div>
                        <i class="fas fa-globe"></i> www.princeretail.com
                    </div>
                </div>

            </marquee>
        </div>
    </footer>



    <!--Signal R-->
    <script src="~/js/signalr.js"></script>
    <script src="~/js/DisplayHub.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
