@using Microsoft.AspNetCore.Mvc.Rendering
@{
    var session = ViewContext.HttpContext?.Session;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Queue_Interview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Queue_Interview.styles.css" asp-append-version="true" />

</head>
<body>
    <style>
        body {
            margin: 0;
            font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

            body::after {
                content: "";
                background: url(/src/login_bckgd.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                opacity: 0.2;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
    </style>

    <div class="container-fluid p-0" style="height:100%;">
        @RenderBody()
    </div>


    <!--Signal R-->
    <script src="~/js/signalr.js"></script>
    <script src="~/js/HRHubs.js"></script>
    <script src="~/js/TableHub.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
