@using Microsoft.AspNetCore.Mvc.Rendering
@{
    var session = ViewContext.HttpContext?.Session;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Queue_Interview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Queue_Interview.styles.css" asp-append-version="true" />

</head>
<body>
@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-green border-bottom box-shadow p-0">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="HR" asp-action="Serving">
                    <img src="~/src/logo-prince.png" style="width: 60px;height: 40px;object-fit: contain;" alt="Queue_Interview" />
                </a>

                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@

    <div class="container-fluid p-0" style="height:100%;">
        @RenderBody()
    </div>


    <!--Signal R-->
    <script src="~/js/signalr.js"></script>
    <script src="~/js/HRHubs.js"></script>
    <script src="~/js/TableHub.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
