﻿@using Queue.Models.ViewModel
@model ServingVM

@{
    ViewData["Title"] = "Final Interview";
    Layout = "_DisplayLayout";
}


<style>
    .card {
        border-radius: 10px;
    }

    @@media (max-width: 767px) {
        .container {
            padding-top: 1rem;
        }

        .title {
            font-size: 30px;
        }

        .number2 h1 {
            font-size: 90px !important;
        }
    }

    @@media (min-width: 768px) and (max-width: 991px) {
        .container {
            padding-top: 1.5rem;
        }

        .title {
            font-size: 35px;
        }

        .number2 h1 {
            font-size: 100px !important;
        }
    }

    @@media (min-width: 992px) {
        .container-fluid {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .title {
            font-size: 80px;
        }

        .number1 h2 {
            font-size: 60px !important;
            letter-spacing: 3px;
        }

        .number2 h1 {
            font-size: 180px !important;
        }
    }

    @@media (min-width: 992px) and (min-height: 1350px) {
        .container-fluid {
            padding-top: 6rem;
        }
    }
</style>

<div class="time text-center position-absolute" style="top: 5px; right: 5px;">
    <h1 class="m-0" style="font-size: 70px;" id="time"></h1>
    <h2 id="date"></h2>
</div>


<div class="container-fluid my-5">
    <h1 class="text-center nw fst-italic title">NOW SERVING</h1>

    <div class="row py-3 g-5 justify-content-center">

        @if (Model.Tables != null && Model.Servings != null)
        {
            @foreach (var table in Model.Tables)
            {
                var servingQueue = Model.Servings.Where(s => s.TableId == table.TableId);

                <div class="col-md-4 col-sm-6 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="number1">
                                <h2 style="font-size: 46px;" class="text-uppercase">@table.Username</h2>
                            </div>
                            <div class="number2">
                                @if (servingQueue.Any())
                                {
                                    <h1 id="table-@table.TableId" class="text-center fw-bold fst-italic">
                                        @foreach (var serving in servingQueue)
                                        {
                                            <text>A - @serving.ApplicantId</text>
                                        }
                                    </h1>
                                }
                                else
                                {
                                    <h1 id="table-@table.TableId" class="text-center fw-bold">----</h1>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="bg-secondary p-3 text-white rounded-3 position-absolute" style="bottom: 45px; left: 5px;">
    <h1 class="fst-italic" style="font-size: 70px; letter-spacing: 5px;">
        FINAL INTERVIEW - 2nd Floor
    </h1>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    const displayDateTime = () => {
        var currentTime = new Date();
        var options = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true };
        var formattedTime = currentTime.toLocaleString('en-US', options);
        var optionsDate = { year: 'numeric', month: 'long', day: 'numeric' };
        var formattedDate = currentTime.toLocaleString('en-US', optionsDate);

        $('#time').text(formattedTime);
        $('#date').text(formattedDate);
    };
    // Initial display
    displayDateTime();
    setInterval(displayDateTime, 1000);

</script>

